<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
    <add name="shoefactoryEntities" connectionString="metadata=res://*/IMDBModel.csdl|res://*/IMDBModel.ssdl|res://*/IMDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FOJ2D3J;initial catalog=shoefactory;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<add name="shoefactoryEntities" connectionString="metadata=res://*/IMDBModel.csdl|res://*/IMDBModel.ssdl|res://*/IMDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FOJ2D3J;initial catalog=shoefactory;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>